body{
 margin:0px;
}

.main{
    display:flex;
    flex-direction:column;
}

ul{
    display:flex;
    flex-direction:row;
    gap:16px;
    list-style:none;
}

.box1{
    
    display:flex;
    justify-content:space-between;
    padding-left:200px;
    padding-right:200px;
    background-color:rgb(35, 39, 58);
    padding-bottom:60px

}
.right{
    color:white;
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:100px;
}

.left{
    color:white;
    flex:1;
    display:flex;
    flex-direction:column;
}

button{
    width:100px;
    background-color:rgb(92, 92, 192);
    color:white;
    border-radius:10px;
    font-size:16px;
}
h1{
    margin-top:80px;
    font-weight:800;
    color:white;
    text-align:start;
    margin-right:100px;
    font-size:48px;
}

.image-box{
    background-color:gray;
    padding:80px;
    align-items:center;
    color:white;
}


p{
    margin:0px;
    margin-top:-30px;
    margin-bottom:20px;
}